* {
    font-family: consolas, monaco, monospace;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #2c4e20;
}

a {
    color: black;
}

.container {
    position: relative;
    margin: 0 auto 0 auto;
    /* height: 100vh; */
    /* width: 80%; */
    background-color: transparent;
}

.hello-world-container {
    background-color: #000000;
    padding: 1.5em;
}

.footer {
    bottom: 0;
    background-color: #000000;
    padding: 1em;
    padding-right: 4em;
}

.footer p {
    color: #00ff00;
    text-align: right;
}

.section-head {
    background-image: url('./Images/caret.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0.75em; 
    padding-left: 1em;    
    font-size: 150%; 
}

.hello-world-text {
    font-family: consolas;
    font-size: 175%;
    color: #00ff00;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.all-sections {
    flex-direction: column;
    width: 70%;
    margin: 0 auto 0 auto;
    min-height: 91.5vh;
    background-color: #ffffff;
}

.section-container {
    border: 0;
    /* margin: 0 auto 0 auto; */
    padding: 1em 1em 2em 1em;
    /* width: 100%; */
}

.transparent {
    /* background-color: #ffffffd5; */
}

.section-head::after {
    content: "_"
}

.section-container p::before {
    content: "- ";
}

.section-container p {
    padding-left: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
}

.icon {
    /* display: block; */
    height: 30px;
    width: auto;
    /* float: left; */
    margin: 20px;
}