* {
    font-family: consolas, monaco, monospace;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #000000;
}

a {
    color: #ffffff;
}

h1 { 
    font-family: Consolas, monaco, monospace; 
    font-size: 175%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
} 

h2 { 
    font-family: Consolas, monaco, monospace; 
    font-size: 150%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 150%;
    color: #00ff00;
} 

p { 
    font-family: Consolas, monaco, monospace; 
    font-size: 100%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 150%;
    color: #00ff00;
    white-space: pre-wrap;
} 

.container {
    position: relative;
    margin: 0 auto 0 auto;
    /* height: 100vh; */
    /* width: 80%; */
    background-color: transparent;
}

.hello-world-container {
    background-color: #000000;
    padding: 1.5em;
}

.hello-world-text {
    /* font-family: consolas; */
    font-size: 175%;
    color: #00ff00;
}

.section-head {
    background-image: url('./Images/caret.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0.75em; 
    padding-left: 1em;    
    /* font-size: 150%;  */
}

.section-head::after {
    content: "_"
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.all-sections {
    flex-direction: column;
    width: 70%;
    margin: 0 auto 0 auto;
    min-height: 91.5vh;
    background-color: #000000;
}

.section-container {
    border: 0;
    padding: 1em 1em 2em 1em;
}

.section-container p {
    padding-left: 1em;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-size: 100%; */
}

.icon {
    /* display: block; */
    height: 30px;
    width: auto;
    /* float: left; */
    margin: 20px;
}

.footer {
    bottom: 0;
    background-color: #000000;
    padding: 1em;
    padding-right: 4em;
}

.footer p {
    color: #00ff00;
    text-align: right;
}
