* {
    font-family: consolas, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0 0 0 0;
    background-color: ivory;
}

a {
    color: black;
}

.container {
    margin: 0 auto 0 auto;
    /* height: 100vh; */
    /* width: 80%; */
    background-color: transparent;
}

.hello-world-container {
    border-bottom: 1px solid #8a8a8a;
    background-color: #000000;
    padding: 1em;
    height: 5vh;
}

.footer {
    border-top: 1px solid #8a8a8a;
    background-color: #000000;
    padding: 1em;
    padding-right: 4em;
    height: 3vh;
}

.footer p {
    color: #ffffff;
    text-align: right;
}

.parallax {
    perspective: 1px;
    height: 85.3vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

.parallax__layer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.hello-world-text {
    font-family: consolas;
    font-size: 48px;
    padding-left: 20px;
    color: #ffffff;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all-sections {
    flex-direction: column;
    width: 60%;
    margin: 0 auto 0 auto;
    background-color: transparent;
    transform: translateZ(0);
    height: fit-content;
}

.section-container {
    border: 0;
    margin: 0 auto 0 auto;
    padding: 1em 1em 2em 1em;
    width: 100%;
    background-color: #ffffff;
}

.transparent {
    background-color: #ffffffd5;
}

.section-head {
    background-image: url('./Images/caret.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0.75em; 
    padding-left: 1em;
    margin-bottom: 0.5em;    
    font-size: 25px; 
}

.section-head::after {
    content: "_"
}

.section-container p::before {
    content: "- ";
}

.section-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.icon {
    /* display: block; */
    height: 30px;
    width: auto;
    /* float: left; */
    margin: 20px;
}